body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000d4;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin: 0;
}

form {
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 600;
}

input[type="text"],
input[type="password"] {
  font-size: 1.2rem;
  margin: 10px 0 0;
  padding: 4px 10px;
  border-radius: 5px;
}

button {
  padding: 7px 15px;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.626);
  color: #fff;
  cursor: pointer;
  border-width: 0;
  transition-duration: 200ms;
  margin: 5px 0 0;
}

button:hover {
  background-color: rgba(0, 0, 255, 0.479);
  transition-duration: 200ms;
}

#registration_form_content {
  display: flex;
  flex-direction: column;
}

small {
  color: red;
  margin-top: 7px;
  font-weight: 600;
}

.link {
  color: rgba(0, 0, 255, 0.479);
  font-weight: 600;
}

.captcha {
  width: 35%;
  margin-top: 20px;
}
